<!DOCTYPE html>
<html class="light" xmlns:th="http://www.thymeleaf.org" th:fragment="parent(content,title,script)">
<head>
<meta charset="ISO-8859-1">
<title th:replace="${title}">Base Page</title>
<link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
<link rel="stylesheet" data-th-href="@{'css/output.css'}"/>
<link rel="stylesheet" data-th-href="@{'css/style.css'}" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="dark:bg-gray-900 bg-gray-100 dark:text-white">
	
	
	<!-- Common Header -->
	<!-- user is logged in -->
	<div th:if="${loggedInUser}">
		<div data-th-replace="~{user/user_navbar::user-navbar}"></div>
	</div>
	
	
	<!-- user is not logged in -->
	<div th:unless="${loggedInUser}">
		<div data-th-replace="~{navbar::navbar}"></div>
	</div>
	
	
	
	
	<!-- main content -->
	<div class="p-4">
		<section th:replace="${content}"></section>
	</div>
	
	
	<!-- Common Footer -->
	
	<!--  
	<footer class="p-4">
	Footer: Learn With Asif khan
	</footer>-->
	
	<script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
	 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script type="text/javascript" data-th-src="@{'/js/script.js'}"></script>
	<th:block data-th-replace="${script}"></th:block>
</body>
</html>